@font-face {
    font-family: 'Zapfino';
    src: url('../fonts/Zapfino.ttf') format('truetype');
}

body {
    background-color: rgb(45, 70, 119);
    font-family: 'Andika', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgb(107, 140, 206), rgb(51, 108, 156));
    opacity: 0.8;
    z-index: -2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 30% 70%, #a1abca 0%, transparent 50%),
                radial-gradient(circle at 70% 30%, #dfe2c5 0%, transparent 50%);
    mix-blend-mode: overlay;
    opacity: 0.5;
    z-index: -1;
    animation: pulse 1.5s infinite alternate;
}

.overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 70% 70%, #ffffff 0%, transparent 50%),
                radial-gradient(circle at 30% 30%, #b8b8b8 0%, transparent 50%);
    mix-blend-mode: overlay;
    opacity: 0.5;
    z-index: -1;
    animation: pulse 2s infinite alternate;
}

@keyframes pulse {
    0% {
        opacity: 0.3;
        transform: scale(1);
    }
    100% {
        opacity: 0.7;
        transform: scale(1.1);
    }
}

.Title {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.Subtitle {
    font-family: 'Zapfino', sans-serif;
    color: white;
    margin-top: -0.7em;
    font-size: 40px;
    text-align: center;
}





.grid-container {
    display: grid;
    max-width: 85vw;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    margin: 0 auto 20px; /* Center the grid */
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    max-height: 1000px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    aspect-ratio: 1;
}

.grid-item-image {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0;
    border-radius: 25px;
    overflow: hidden;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    aspect-ratio: 1;
}

.grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-height: 2000px;
}

.grid-image-landscape {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    max-height: 1000px;
}

.grid-item:hover, .grid-item-image:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 50px rgba(255, 255, 255, 0.1);
}

.grid-item.landscape {
    grid-column: span 2;
    aspect-ratio: 4 / 1.8;
    max-height: 1000px;
}

.grid-item.portrait {
    grid-row: span 2;
    aspect-ratio: 1 / 2.3;
    max-height: 1000px;
}

.title-card {
    font-family: 'Zapfino';
    font-size: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 90%;
}

.subtitle-card {
    font-size: 2vh;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 90%;
}






.container {
    display: grid;
    max-width: 85vw; /* Match the grid's max-width */
    margin: 0 auto 20px; /* Center the container */
}

.audio-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.audio-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 50px rgba(255, 255, 255, 0.1);
}

.audio-container h2 {
    margin-top: 0;
}

.audio-player {
    width: 100%;
    margin-top: 10px;
}

.download-btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.download-btn:hover {
    background-color: #45a049;
}






.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 0%;
    margin-right: 0%;
}

.nav-button {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 50px rgba(255, 255, 255, 0.1);
}

.nav-button:disabled {
    background-color: #cccccc00;
    color: #fefefe00;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
}








@media (max-width: 500px) {
    .grid-container {
        margin-left: 15px;
        margin-right: 15px;
        grid-template-columns: 1fr;
        overflow:visible;
    }

    .grid-item, .grid-item-image {
        width: 80%;
        margin: 0 auto;
    }

    .grid-item.landscape, .grid-item.portrait {
        grid-column: auto;
        grid-row: auto;
        aspect-ratio: 1;
        overflow:visible;
    }

    .title-card {
        font-size: 2.5vh;
    }

    .subtitle-card {
        font-size: 3vh;
    }

    .container {
        max-width: 88vw;
    }

    .audio-container {
        margin-left: 15px;
        margin-right: 15px;
    }

    .nav-buttons {
        margin-left: 15px;
        margin-right: 15px;
    }
}